@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* 
modify default of margin and padding */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans',sans-serif;
}

.wrapper{
    position: absolute;
    top: 50%;
    left:50%;
    /* remove negative margin */
    transform: translate(-50%,-50%); 
    min-width: 350px;
    width: 100px;
    background: rgb(114, 250, 250);
    padding: 25px;
    border-radius:5px;
    box-shadow: 4px 4px 2px rgba(254, 236, 164, 1);
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    /* letter-spacing: 3px; */
    color:#332902;
    
}


.wrapper .input_field{
    margin-bottom: 10px;
}


.wrapper .input_field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    height: 60px;
    resize: none;
}

.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width:100%;
    background:#fece0c;
    color : #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;


}

#error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #ffffff;
    text-align: center;
    font-size: 14px;
    color: rgb(252, 1, 1);
    transition: all 0.9s ease-in-out;
}